* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

.parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    width: 50%;
    height: 80%;
    border: rgb(241, 42, 248) 10px solid;
    display: flex;
    flex-wrap: wrap;
}

.black {
    background-color: rgb(153, 115, 243);
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: rgb(232, 199, 241);
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hovering in the middle of the board and making my name appear */



.name p {
   display: none;
}

.name:hover>p {
    display: block;
}

/* ROTATE CHESSBOARD */

#click {
    display: none;
}

input:checked + label > .chessboard, input:checked +label > .chessboard > div p {
    transform: rotate( 180deg);
    transition: all 1s;
}

/* hovering the second row and making my name appear */

.special span {
    display: none;
}

.special:hover>p {
    display: none;
}

.special:hover>span {
    display: block;
    font-size: 3rem;
}

/* hovering the blocks */

.black:hover, .white:hover {
    background-color: rgb(196, 221, 245);
    box-shadow: 2px 2px 3px 2px;
}


